@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> vista desde cliente</h1>
    <div class="container">
      

       <div class=" row gx-6">
         
           <div class="col">

               <div class="bg-light border">
                   columna 1
               </div>
            </div> 
            
            <div class="col">
                
                <div class="bg-light border">
                    columna 2
                </div>
            </div>

       </div>



    </div>
